@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


:root {
    --base-color: #dbdfe6;
    --headings-color: #3498db;
    --panel-color: #235697;
    --panel-color-2: #ffffff;
    --color-1: #313049;
    --color-2: #3a4461;
    --color-3: #ffd769; 
    --color-4: #ffcb69; 
    --font-family: 'Roboto', sans-serif;
    --font-family-2: "Roboto Mono", monospace;
    --text-color: #333;
    --text-color-2: #dddddd;
    --text-color-3: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    max-width: 100%;
}

html {
    color: var(--text-color);
    scroll-behavior: smooth;
}

body {
    /* padding: 1rem min(2rem, 2%); */
    background-color: var(--base-color);
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--headings-color);
    margin-bottom: 10px;
    margin-top: 10px;
}

p {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.8;
}

ul {
    list-style-position: inside;
}

li {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1rem;
}

/* header {
    background-color: var(--panel-color);
    padding:0;
    overflow:hidden;
    margin:0;
    top:0;
} */

nav {
    background-color: var(--panel-color);
    padding-top: 0px;
    padding-bottom: 0.5em;
    /* padding-left: 0.5rem; */
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--text-color-3);
    font-weight: bold;
}

.navbar {
    padding-top: 0px;
    position: sticky;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index:1000;
    box-shadow: 0 10px 10px -10px rgba(0,0,0,0.4);
    border-bottom: 7px solid var(--color-3);

}

nav ul {
    list-style: none;
    align-items: center;
    display: flex;
    gap: 2em;
    margin: 10px auto;
    flex-wrap: wrap;
    padding: 0 min(2%, 2em);
    width:100%;
}

nav > * {
    width: min(1450px, calc(100% - 2rem));
    max-width: 1450px;
}

nav li {
    margin: 0;
}

nav li:first-child {
    margin-right: auto;
    font-size: x-large;
}

nav ul a {
    color: var(--text-color-3);
    text-decoration: none;
    font-weight: bold;
}

nav ul a:hover {
    text-decoration: underline;
}

section {
    margin-top: 0px;
    margin-bottom:0px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px min(5rem, 5%);
    width: 100%;

    background-color: var(--panel-color-2);
    scroll-margin-top: 50px;

    /* box-shadow: [X-offset] [Y-offset] [Blur] [Spread] [Color] */
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);

    clip-path: inset(0 -20px 0 -20px); 

    max-width: 1450px;

    border-bottom: 15px solid var(--color-4);
}

section:first-of-type {
    padding-top: max(min(40px, 3vw), 10px);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 1em;
    object-fit: contain;
    margin: 8px;
}

video {
    max-width: 100%;
    height: auto;
    border-radius: 1em;
    object-fit: contain;
    margin: 8px;
}

section#projects img {
    max-width: 100%;
    /* height: min(200px, 70%); */
    padding: 0.5em min(1em, 2%);
    width: auto;
    object-fit: contain;
    object-position: center;
}

.flex-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0.5rem;
    max-width: 100%;
}

.grid-container {
    --col-width: 450px;
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--col-width), 100%), 2fr));
    gap: 20px;
    max-width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.grid-container button img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    display: block;
    margin-bottom: 0px;
}

hr {
    border: none;
    border-top: 3px solid var(--text-color);
    margin: 20px 0;
}

section#projects {
    padding: min(1.5em, 3%);
    background-color: var(--panel-color-2);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section#projects .text-block {
    text-align: center;
}

button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: var(--color-1);
    border: none;
    padding: 10px 2rem 20px;
    border-radius: 0.5em;
    cursor: pointer;
    color: var(--text-color-2);
    min-width: 0;

    height: 100%;
}

.project-grid h1 {
    margin-bottom: 0;
    margin-top: 0;
}

.project-grid h2 {
    margin-top: 0;
    margin-bottom: 0;
}

button:hover, button.selected {
    transform: scale(1.05);
    border-color: var(--text-color-3);
    border: medium solid var(--color-3);
    transition: transform 0.2s ease;
}

button:active {
    transform: scale(0.90);
}

.inline-image {
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
    object-fit: contain;
}

.project-1 .flex-container {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}

.project-1 img {
    max-height: 200;
    height: 100;
    max-width: 100;
    width: 100;
}

.skill-grid p, .skill {
    background-color:var(--color-3);
    border-radius: 5px;
    color: var(--text-color);
    padding: 5px;
    margin-top: 0px;
}

.skill-grid {
    display: flex;
    margin-top: 5px;
    gap: 5px;
    max-width: auto;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.combined-box {
    flex-flow: row wrap;
    display:flex;
    gap: 20px;

    & * {
        flex: 1;
        min-width: min(300px, 100%);
    }
}


.show-selector {
    display: grid;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
    max-width: 100%;

    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}

.show-selector div {
    display: block;
    text-align: center;

    background-color: var(--color-1);
    padding: 5px;
    overflow: hidden;
    border-radius: 5px;
}